.navbar {
  justify-content: unset;
}

.navbar-nav,
.navbar-collapse {
  width: 20% !important;
  margin: 0 0;
}

.navbar-brand {
  text-align: center;
  margin: 0 auto;
}

footer {
  height: 5rem;
  background-color: grey;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.carousel {
  text-align: center;
}

.filter-section {
  background-color: lightsalmon;
  padding: 1rem;
  height: 15rem;
}

.filter-section .container {
  padding-top: 3rem;
}

.filter-section div h2 {
  margin-left: 1rem;
}

.filter-rows {
  margin-left: 1rem;
  width: 80%;
}

.filter-heading {
  text-align: right;
  font-size: 20px;
}

.filter-rows button {
  margin: 0.1rem;
  padding: 0.2rem;
}

.jumbotron-home {
  background-image: url("../logo.svg");
  text-align: center;
  height: 600px;
}

.jumbotron {
  margin-bottom: 0rem;
  border-radius: 0;
}

.jumbotron-home h1 {
  font-size: 8rem;
}

.j-btn-row button {
  margin: 1rem;
}

.card-test {
  text-align: center;
}

.cardItem {
  margin: 1rem;
}

.jumbotron-major {
  height: 300px;
  background-image: url("../bg.jpg");
  box-shadow: inset 0 0 0 50vw rgba(255, 0, 150, 0.3);
}

.jumbotron-major img {
  opacity: 30%;
  width: 100%;
  height: inherit;
  z-index: 0;
}

.back-btn {
  padding: 0.25rem 0.5rem;
  box-shadow: inset 0 0 0 50vw rgba(255, 0, 150, 0.3);
}

.Collapsible {
  background-color: lightpink;
  border: 1px solid black;
  margin: 1rem 3rem;
}

.Collapsible__trigger {
  display: flex;
  align-items: center;
  height: 3rem;
  margin: auto 1rem;
}

.Collapsible__contentOuter {
  background-color: white;
  border-top: 1px solid black;
}

.Collapsible__contentInner {
  margin: 1rem;
}

.major-txt {
  margin: 1rem 0 0 2rem;
}

@media (max-width: 768px) {
  .jumbotron-home {
    padding: 0 1rem;
  }

  .jumbotron-home h1 {
    padding: 5rem 0 2.5rem 0;
    font-size: 60px;
  }

  .jumbotron-home h2 {
    font-size: 20px;
    margin: 0 1.5rem;
  }

  .j-btn-row {
    margin-top: 1.5rem;
  }

  .filter-rows {
    margin: 0 2rem;
    padding: 0;
    text-align: center;
    align-items: center;
  }

  .filter-section div h2 {
    margin-left: 0;
  }

  .filter-heading {
    text-align: center;
  }

  .jumbotron-major {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .major-txt {
    margin: 1rem auto;
    text-align: center;
    padding: 0 2rem;
  }
}
